svg {
  * {
    font-family: inherit !important;
  }

  [id^='database'] {
    &.graph > polygon {
      fill: none;
    }

    // Highlight edges between tables when they are hovered.
    .edge:hover {
      path {
        stroke: red;
        stroke-width: 4px;
      }

      polygon {
        stroke: red;
        stroke-width: 4px;
        fill: red;
      }
    }

    .node[id^='table'] {
      text:first-of-type {
        font-weight: bold;
      }

      polygon:first-of-type {
        fill: #c0c0c0;
      }

      :last-of-type {
        stroke: none;
      }

      &:first-of-type, &.index0 {
        polygon:first-of-type {
          fill: #7ea6e0;
        }
      }
    }

    .cluster > text {
      font-size: 0.6em;
    }

    .node[id^='note'] {
      polygon {
        fill: #e0d37d;
      }

      text {
        font-weight: normal;
      }
    }
  }
}
